@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Pacifico&display=swap");

:root {
  --clr-headings: #212353;
  --clr-btn-txt: #ffffff;
  --clr-light-purple: #e4bbe8;
  --clr-purple: #c182c8;
  --clr-btn-pink: #faa4ab;
  --clr-btn-text: #fffffff;

  --clr-massage-bebe: rgba(182, 178, 233, 0.75);
  --clr-portage-echarpe: rgba(123, 215, 208, 0.75);
  --clr-massage-femme-enceinte: rgba(251, 202, 227, 0.75);
  --clr-conseil: rgba(227, 176, 232, 0.75);
  --clr-papa: rgba(181, 209, 250, 0.75);
  --clr-ecole: rgba(250, 201, 164, 0.75);


  --ff-headings: "Pacifico", cursive;
  --ff-text-primary: "Montserrat", sans-serif;

  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-text-primary);
  font-size: 1.25rem;
  color: var(--clr-headings);
  border: 1px solid red;
}

a {
  text-decoration: none;
}

ol {
  list-style: none;
}

#container {
  width: 100%;
  text-align: center;
  border: 1px solid blue;
}

.btn {
  border-radius: 2em;
  color: var(--clr-btn-txt);
  padding: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  line-height: 160%;
  border: none;
  font-family: var(--ff-text-primary);
  font-size: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.btn-esp {
  background-color: var(--clr-purple);
}

.btn-rdv {
  background-color: var(--clr-btn-pink);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.buttons-test {
  display: flex;
  justify-content: flex-end;
  width: 80%;
}

/*NavBar*/

.main-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--text-shadow);
  background-color:  #E0CCE3;
}

.main-nav > img {
  height: 8vh;
  margin: 1rem;
  border-radius: 0.5rem;
}

ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  
}

ul a {
  font-family: var(--ff-text-primary);
  color: var(--clr-headings);
  font-size: 2rem;
  display: none;
  padding: 0 1rem;
}

ul a:hover {
  border-bottom: 8px solid var(--clr-purple);
  transition: 0.3s ease-in-out;
}

.title {
  display:none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
}


/*Headings*/

#headings {
  color: var(--clr-headings);
  padding: 1rem;
  width: 100%;
}

#headings h1 {
  font-family: var(--ff-headings);
  text-shadow: var(--text-shadow);
  font-size: 3rem;
  line-height: 1.5;
}


#headings h2 {
  font-family: var(--ff-headings);
  line-height: 1.25;
  font-size: 2rem;
  margin-top: 2rem;
}

.subheading {
  font-family: var(--ff-headings);
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.section-heading {
  font-family: var(--ff-headings);
  text-shadow: var(--text-shadow);
  font-size: 3rem;
  margin: 2rem;
}

.profile-heading {
  font-family: var(--ff-headings);
  text-shadow: var(--text-shadow);
}

.location {
  margin-bottom: 3rem;
}

/*Landing Page*/

#landing-page {
  position: relative;
  margin-bottom: 15vh;
  background: url("../imgs/main-image.jpeg") bottom center no-repeat;
  background-size: 120%;
}

.image-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}

#main-image {
  width: 100%;
  opacity: 0.6;
}

.header-buttons {
  border: 1px solid yellow;
  margin: 2rem 0;
}

.header-buttons a {
  display: block;
  margin: 1rem;
}


/*Qui Suis-Je*/

.purple-container {
  background-color: var(--clr-purple);
  width: 100%;
  border-radius: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem 1rem;
}

#profile-pic {
  max-width: 70%;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.40);
  border-radius: 1rem;
}

#about * {
  padding: 1rem;
}

/*PRESTATIONS*/

#prestations {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-item {
  border-radius: 2rem;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
  margin: 1rem 0;

}

.grid-item * {
  padding: 0.75rem;
}

.hidden {
  display: none;
}

.prestations-image {
  border-radius: 50%;
  height: 25vh;
  width: 25vh;
  object-fit: cover;
  padding: 0;
}

#massage-bebe {
  background-color: var(--clr-massage-bebe);
}

#portage-echarpe {
  background-color: var(--clr-portage-echarpe);
}

#massage-femme-enceinte {
  background-color: var(--clr-massage-femme-enceinte)
}

#conseils {
  background-color: var(--clr-conseil);
}

#papas {
  background-color: var(--clr-papa);
}

#massage-ecole {
  background-color: var(--clr-ecole);
}

/*Contact Section*/

.fb-logo {
  background-color: #ffffff;
}

.sm-logo {
  width: 2rem;
  margin: 1rem;
}

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  text-align: left;
}

.form-group label {
  margin: 1rem;
  font-size: 1.5rem;
}

.form-group input, textarea {
  border-radius: 2rem;
  border: none;
  font-size: inherit;
  padding: 0.5rem 1.5rem;
}

.contact-group img {
  width: 2.5rem;
}

.contact-group {
  background-color: #ffffff;
  border-radius: 2rem;
  align-items: center;
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem 0;
  text-align: center;
  width: 100%;
}





/*MEDIA QUERIES*/


/*Extra Small, Mobile*/
@media (min-width: 500px) {
  #profile-pic {
    max-width: 50%;
  }

  h1.profile-heading{
    font-size: 2.5rem;
  }
}

/* Small Devices, Tablets */
@media (min-width: 768px) {
  #headings {
    width: 60%;
    border: 1px dashed pink;
  }

  #headings h1 {
    font-size: 5rem;
  }

  .image-center {
    max-width: 75vh;
    left: 80%;
  }
  #main-image {
    opacity: 1;
  }

  .header-buttons {
    display:flex;
    justify-content: center;
    flex-direction: column;
  }
  .header-buttons a {
    display: inline-block;
  }

  #landing-page {
    background-image: url("../imgs/main-image.jpeg");
    background-size: 60%;
    background-repeat: no-repeat;
    border: 1px solid green;
  }

  .location {
    width: 80%;
    font-size: 1.75rem;
    margin-bottom: 4rem;
  }

  #prestations-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    margin: 1rem;
  }

  .contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}

/* Medium Devices, Desktops */
@media (min-width: 992px) {
  ul a {
    display: inline;
  }

  .header-buttons {
    flex-direction: row;
  }

  #menu-icon {
    display: none;
  }

  .main-nav {
    height: 14vh;
  }

  .title {
    color: var(--clr-purple);
    font-size: 3vh;
    font-weight: bold;
    padding: 0 1rem;
    width: 20%;
    display: inline;
  }

  #headings {
    margin-left: 5rem;
  }

  #landing-page {
    background-size: 50%;
  }

  #qui-suis-je{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }

  .prestations-details {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #photo-container {
    order: 1;
  }

  .section-heading {
    font-size: 4rem;
    margin-top: 4rem;
  }

  #prestations-grid {
    column-gap: 2rem;
    margin: 2rem;
  }
.contact-group {
  width: 80%;
}


}

/* Large Devices, Wide Screens */
@media (min-width: 1200px) {
  #landing-page {
    background-size: 30%;
  }
  ul a {
    font-size: 2.2rem;
  }
}




