@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Pacifico&display=swap');


:root {
    --clr-headings: #212353;
    --clr-btn-txt: #ffffff;
    --clr-light-purple: #E4BBE8;
    --clr-btn-purple: #C182C8;
    --clr-btn-pink: #FAA4AB;
  
    --ff-headings: 'Pacifico', cursive;
    --ff-text: 'Montserrat', sans-serif;
  }

  h1 {
    color: var(--clr-btn-purple);
    font-family: var(--ff-headings);
  }