@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Pacifico&display=swap");

:root {
  --clr-headings: #212353;
  --clr-btn-txt: #ffffff;
  --clr-light-purple: #e4bbe8;
  --clr-purple: #c182c8;
  --clr-btn-pink: #faa4ab;

  --ff-headings: "Pacifico", cursive;
  --ff-text-primary: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-text-primary);
  font-size: 1.25rem;
  color: var(--clr-headings);
  border: 1px solid red;
}

a {
  text-decoration: none;
}

#container {
  width: 100%;
  text-align: center;
  border: 1px solid blue;
}

/*NavBar*/

.main-nav {
  display: flex;
  width: 100%;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
}

.main-nav > img {
  height: 8vh;
}

ul {
    list-style: none;
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
  
}

ul a {
  font-family: var(--ff-text-primary);
  color: var(--clr-headings);
  font-size: 2.2rem;
  display: none;
}


/*Headings*/

#headings {
  color: var(--clr-headings);
  padding: 1rem;
  width: 100%;
}

#headings h1 {
  font-family: var(--ff-headings);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 3rem;
  line-height: 1.5;
}


#headings h2 {
  font-family: var(--ff-headings);
  line-height: 1.25;
  font-size: 2rem;
  margin-top: 2rem;
}

.subheading {
  font-family: var(--ff-headings);
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

/*Landing Page*/

#landing-page {
  position: relative;
  margin-bottom: 15vh;
}

.image-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}

#main-image {
  width: 100%;
  opacity: 0.6;
}


/*Qui Suis-Je*/

#qui-suis-je {
  background-color: var(--clr-purple);
  width: 90%;
  border-radius: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

#profile-pic {
  max-width: 60%;
  margin: 3rem;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.40);
  border-radius: 1rem;
}


/*MEDIA QUERIES*/


/*Extra Small, Mobile*/
@media (min-width: 500px) {
}

/* Small Devices, Tablets */
@media (min-width: 768px) {
  #headings {
    width: 60%;
  }

  #headings h1 {
    font-size: 5rem;
  }

  .image-center {
    max-width: 75vh;
    left: 80%;
  }
  #main-image {
    opacity: 1;
  }

}

/* Medium Devices, Desktops */
@media (min-width: 992px) {
  ul a {
    display: inline;
  }
  .main-nav > img {
    display: inline;
  }
  .main-nav {
    height: 18vh;
  }

  #headings {
    margin-left: 5rem;
  }
  #qui-suis-je {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
  }
  
  #photo-container {
    order: 1;
  }

}

/* Large Devices, Wide Screens */
@media (min-width: 1200px) {
}




